.data-table {
  &__filter {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  &__paginator {
    margin-top: 20px;
  }

  &__header,
  &__row {
    display: flex;
  }

  &__header {
    .data-table__cell {
      padding: 5px;
      font-weight: bolder;
    }
  }

  &__row {
    .data-table__cell {
      padding: 12px;
    }

    &-empty {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      padding: 5px 10px;
    }

    &:last-child {
      & > .data-table__cell {
        border-bottom: 1px solid #000;
      }
    }
  }

  &__cell {
    text-align: center;
    border-top: 1px solid #000;
    border-left: 1px solid #000;

    &:last-child {
      border-right: 1px solid #000;
    }

    &-title {
      display: none;
      font-weight: bolder;
    }
  }
}

@media (max-width: 768px) {
  .data-table {
    &__header {
      display: none;
    }

    &__row {
      flex-direction: column;
      border: 1px solid black;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;

        & > .data-table__cell {
          border-bottom: none;
        }
      }

      &-empty {
        padding: 20px 10px;
      }
    }

    &__cell {
      text-align: left;
      border: none;

      &:last-child {
        border-right: none;
      }

      &-title {
        display: block;
      }
    }
  }
}